# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# OS files
Thumbs.db
desktop.ini